# --- UI Project Rules ---
/HotelStay.UI/node_modules/
/HotelStay.UI/dist/
/HotelStay.UI/.next/
/HotelStay.UI/.vscode/

# --- API Project Rules ---
/HotelStay.API/target/
/HotelStay.API/HotelStay.API/bin/
/HotelStay.API/HotelStay.API/obj/
/HotelStay.API/HotelStay.Tests/obj/
/HotelStay.API/HotelStay.Tests/bin/
/HotelStay.API/.vs/
/.vs/